<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
            <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping list</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <ng-template [ngIf]="!(authState | async).authenticated">
                <li><a routerLink="/signup">Register</a></li>
                <li><a routerLink="/signin">Login</a></li>
            </ng-template>
            <li><a style="cursor: pointer" (click)="onLogout()" *ngIf="(authState | async).authenticated">Logout</a></li>
            <li class="dropdown" appDropdown *ngIf="(authState | async).authenticated">
                <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                    <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>