<div class="row">
  <div class="cos-xs-12">
    <img [src]="(recipeState | async).recipes[id].imagePath" alt="{{(recipeState | async).recipes[id].name}}" class="img-responsive" style="max-height: 300px;" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{(recipeState | async).recipes[id].name}}</h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button class="btn btn-primary dropdown-toggle" type="button">Manage recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">Add Ingriedents to Shopping List</a></li>
          <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
        </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{(recipeState | async).recipes[id].description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
    </ul>
  </div>
</div>