<button class="btn btn-primary" [disabled]="isGameRunning()" (click)="onGameStart()">Start game</button>
<button class="btn btn-primary" [disabled]="!isGameRunning()" (click)="onGameStop()">Stop game</button>