<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <div class="alert alert-warning" *ngIf="!f.valid && f.touched">
        <strong>Warning! </strong> Invalid form!
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email:</label>
            <input type="text" name="email" ngModel email required class="form-control" #email="ngModel">
            <div class="alert alert-warning" *ngIf="!email.valid">
              <strong>Warning! </strong> Invalid email.
            </div>  
        </div>
        <div class="form-group">
          <label>Subscription: </label>
          <select name="subscription" [ngModel]="subscription" class="form-control" #sub="ngModel">
              <option value="Basic">Basic</option>
              <option value="Advanced">Advanced</option>
              <option value="Pro">Pro</option>
            </select>
            <div class="alert alert-warning" *ngIf="!sub.valid">
              <strong>Warning! </strong> Invalid subscription.
            </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" ngModel class="form-control" required #pass="ngModel">
          <div class="alert alert-warning" *ngIf="!pass.valid">
            <strong>Warning! </strong> Invalid subscription.
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>

        
      </form>
    </div>
  </div>
</div>
