<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
            <li
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor:  odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            class="list-group-item"
            *ngFor="let odd of oddNumbers">
            {{odd}}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
            <li
            [ngClass] = "{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor:  even % 2 !== 0 ? 'yellow' : 'transparent'}"
            class="list-group-item"
            *ngFor="let even of evenNumbers">
            {{even}}
          </li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
            <div>
                <li
                [ngClass] = "{odd: even % 2 !== 0}"
                [ngStyle]="{backgroundColor:  even % 2 !== 0 ? 'yellow' : 'transparent'}"
                class="list-group-item"
                *ngFor="let even of evenNumbers">
                {{even}}
              </li>
            </div>
        </ng-template> -->
        <div *appUnless="onlyOdd">
            <li
            [ngClass] = "{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor:  even % 2 !== 0 ? 'yellow' : 'transparent'}"
            class="list-group-item"
            *ngFor="let even of evenNumbers">
            {{even}}
          </li>
        </div>
      </ul>

      <p appBasicHighlight>Style me with basic directive!</p>
      <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'" >Style me with better directive!</p>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="10">Value is 10!</p>
        <p *ngSwitchCase="5">Value is 5!</p>
        <p *ngSwitchDefault>Value is default!</p>
      </div>
    </div>
  </div>
</div>
